:root {
  color-scheme: dark;
}
html {
  overflow-y: auto;
  min-height: 100vh;
}
body {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Cantarell", sans-serif;
  overflow-y: auto;
  background-color: black;
}
#content {
  border-radius: 15px;
  background: #262626;
  position: fixed;
  width: 75%;
  height: 80%;
  overflow-y: auto;
  z-index: 1;
}
.fade {
  transition: opacity 0.4s ease 1s;
}
.fadeSlow {
  transition: opacity 2s ease 1s;
}
.hidden {
  opacity: 0;
  pointer-events: none !important;
}
#whiteScreen {
  color-scheme: light;
  background-color: white !important;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  margin: 0;
  padding: 0;
  inset: 0;
  object-fit: cover;
}
#background {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  pointer-events: none;
}
#leave {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -2;
  pointer-events: none;
}
@media (max-width: 1024px) {
  #content {
    min-height: 100vh;
    min-width: 100vw;
  }
}
